
@{
    ViewBag.Title = "AddLinq";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}

<h2>AddLinq</h2>


<form>
    <div class="form-group">
        <label for="IDPerson">ID</label>
        <input type="number" class="form-control" id="PersonID">
    </div>
    <div class="form-group">
        <label for="LastName">LastName</label>
        <input type="text" class="form-control" id="LastName">
    </div>
    <div class="form-group">
        <label for="FirstName">FirstName</label>
        <input type="text" class="form-control" id="FirstName">
    </div>
    <div class="form-group">
        <label for="Age">Age</label>
        <input type="number" class="form-control" id="Age">
    </div>
    <button type="button" class="btn btn-primary" id="btnAdd" onclick="return Add();">Add</button>
    <button type="button" class="btn btn-danger"><a href="Index">Back To Home</a></button>

</form>


<script>
    function Add() {
        var ID1 = parseInt($('#PersonID').val());
        var Age1 = parseInt($('#Age').val());
        var empObj = {
            ID: ID1,
            LastName: $('#LastName').val(),
            FirstName: $('#FirstName').val(),
            Age: Age1
        };
        $.ajax({
            url: "/Admin/People/AddLinq",
            data: JSON.stringify(empObj),  
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",  
            success: function (result) {
                alert(empObj.ID + empObj.LastName + empObj.FirstName + empObj.Age);
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }  

        });
    }
</script>

